# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# Build folders
build/
dist/
out/

# Node.js
node_modules/
npm-debug.log*

# IntelliJ
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp